<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Listing</title>
</head>

<body>
    <h1>Create new Listing</h1>
    <form action="/computerSection" Method="POST">
        <br><button><a href="/computerSection/">Go back to Computer Section</a></button>

        <br>Item name: <input type="text" name="name" />
        <br>Price: $<input type="number" name="price" />

        <br><input type="submit" value="Create New Computer Listing">
    </form>
</body>

</html>