<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= editListing.name %>

    </title>
</head>

<body>
    <h1>Edit Listing page</h1>
    <form action="/computerSection/<%= editListing._id %>?_method=PUT" method="POST">
        <br>Item name: <input type="text" name="name" value="<%=editListing.name %>" />

        <br>Price: $<input type="number" name="price" value="<%= editListing.price %>" />
        <br><input type="submit" value="Make Change to Listing">
    </form>
</body>

</html>