<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1>Welcome to Best Guy</h1>
    <nav>
        <ul>
            <li>
                <a href="/ComputerSection/"> Computers Section</a>

            </li>
        </ul>
        <ul>
            <li>
                <a href="/TVSection/"> TV Section</a>

            </li>
        </ul>
    </nav>
</body>

</html>